<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Intelli-hub Portal</h1>
            <form [formGroup]="form" (submit)="onLogin()">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="email" type="text" class="form-control input-underline input-lg" id="txtEmail" matTooltip="Email is required" placeholder="Email">
                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger" hidden>
                            <div *ngIf="email.errors.required" class="alert alert-danger" hidden>

                            </div>
                            <div *ngIf="email.errors.email" class="alert alert-danger" hidden>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control input-underline input-lg" id="txtPassword" matTooltip="Password is required" placeholder="Password">
                        <div *ngIf="password.touched && password.invalid" class="alert alert-danger" hidden>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit"> Log in </button>
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
            </form>
            <div style="margin-top:20px" *ngIf="authService.loginDisabledMsg as msg">
                {{ msg }}
            </div>
        </div>
    </div>
</div>
