<div class="row">
    <div class="col col-xs-12">
        <h2>Dashboard</h2>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div *ngIf="this.authService.FlUser | async as user" class="col">
            <h3>Welcome {{ user.displayName }}</h3>
            <p>What would you like to do this {{ dayTimeRef }}</p>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
<div class="container-fluid" [ngClass]="{sidebarPushRight: isActive}">
    <div class="row list-inline">
        <div [routerLink]="['/users']" class="list-group-item" *ngIf="isSchemaPermited('users')">
            <i class="col col-12 fa fa-users"></i>
            <p class="text-center text-uppercase">Users</p>
        </div>
        <div [routerLink]="['/register-user']" class="list-group-item" *ngIf="isSchemaPermited('users')">
            <i class="col col-12 fa fa-user-plus"></i>
            <p class="text-center text-uppercase">Create Users</p>
        </div>
        <!-- ********   this for loops builds the entire navigation list ********  -->
        <div *ngFor="let navItem of localMainAppNavigation">
            <div *ngIf="navItem.childIndex; else toLink">
                <!-- <ng-container *ngTemplateOutlet="isParent;context:{navItem: navItem}"></ng-container> -->
            </div>
            <ng-template #toLink>
                <ng-container *ngTemplateOutlet="linkDisplay;context:{navItem: navItem}"></ng-container>
            </ng-template>
            <ng-template #isParent let-navValue="navItem">
                <!--Displays if Permission Level Accepts it-->
                <div *ngIf="isSchemaPermited(navValue.component)">
                    <div *ngIf="navValue.childIndex">
                        <!-- <div class="list-group-item parentItem">
                            <div (click)="showHideSubmenu(navValue)" class="row">
                                <div class="col-12">
                                    <i class="col col-12 {{ navValue.cssClass }}"></i>
                                    <p class="col col-12 text-center">{{ navValue.title }}</p>
                                </div>
                            </div>
                        </div> -->
                        <div *ngFor="let childNavItem of navValue.childIndex">
                            <div *ngIf="childNavItem.childIndex; else isLink">
                                <!-- <ng-container *ngTemplateOutlet="isParent;context:{ navItem:childNavItem }">
                                </ng-container> -->
                            </div>
                            <ng-template #isLink>
                                <ng-container *ngTemplateOutlet="linkDisplay;context:{ navItem:childNavItem }">
                                </ng-container>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #linkDisplay let-navValue="navItem">
                <div [routerLink]="['/dynamic']" [queryParams]="{ page: navValue.title }"
                    (click)="navToDynamic(navValue)" class="list-group-item longerWidth"
                    *ngIf="isSchemaPermited(navValue.component)">
                    <i class="col col-12 {{ navValue.cssClass }}"></i>
                    <p class="text-center text-uppercase">{{ navValue.title }}</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #plusIcon>
    <i class="fa fa-plus"></i>
</ng-template>
<ng-template #minusIcon>
    <i class="fa fa-minus"></i>
</ng-template>