<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Intelli-hub Portal</h1>
            <form [formGroup]="formSignup">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="firstName" type="text" class="form-control input-underline input-lg" id="txtfirstName"
                            matTooltip="Optional" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input formControlName="lastName" type="text" class="form-control input-underline input-lg" id="txtlastName"
                            matTooltip="Optional" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input formControlName="userName" type="text" class="form-control input-underline input-lg" id="txtuserName"
                            matTooltip="User Name is required" placeholder="User Name">
                        <div *ngIf="userName.touched && userName.invalid" class="alert alert-danger" hidden>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="email" type="text" class="form-control input-underline input-lg" id="txtEmail"
                            matTooltip="Email is required" placeholder="Email">
                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger" hidden>
                            <div *ngIf="email.errors.required" class="alert alert-danger" hidden>
                            </div>
                            <div *ngIf="email.errors.email" class="alert alert-danger" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control input-underline input-lg"
                            id="txtPassword" matTooltip="Password must be minimum 8 characters" placeholder="Password">
                        <div *ngIf="password.touched && password.invalid" class="alert alert-danger" hidden>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="confirmPassword" type="password" class="form-control input-underline input-lg"
                            id="txtRepPassword" matTooltip="Password must be matched" placeholder="Repeat Password">
                        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger"
                            hidden>
                        </div>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="signup()"> Register</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>